################
EFI\
images\
isolinux\
LiveOS\
Packages\
repodata\
Scripts\
.SSH\
ISO\
System Volume Information\
CentOS_BuildTag
EULA
GPL
RPM-GPG-KEY-CentOS-Testing-7
RPM-GPG-KEY-CentOS-7
TRANS.TBL
.discinfo
.treeinfo
syslinux.cfg
autorun.inf
autorun.ico
%post.sh
%pre
README.md
%pre-demo.sh
# -ks.cfg
add-vsftpd-Serv_.sh
ks.cfg
%pre.var2.bash
