#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdf
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','ru' --switch='grp:ctrl_shift_toggle'
# System language
lang ru_UA.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s6 --nameserver=192.168.1.2 --noipv6 --activate
network  --hostname=NNSERVER.localhost

# Root password
rootpw --iscrypted $6$bXliQxd4mFz1H7mf$pDp98OFyYPeeA9kKrf/1gl.32cycqKppAiHaNxEM6aQ5wckvHLCQy.8l69ef0WaEhiezr/.k1L4i9GknqFA9W0
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Kiev --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org,ua.pool.ntp.org
user --groups=wheel --name=admin --password=$6$o1dJ8agDKrI9Uhr2$YTXVNOyJ3wnNFr5wOs6XAxc7UhGT6KGpJ92KBGk7Jz2qzOq/HZbPtPVWvWpapm9fsbN3p3c//IetKO3blXpo91 --iscrypted --gecos="Admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdf
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdf
%packages
@core
chrony
kexec-tools
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
